body{
    padding: 0;
    margin: 0;
    position: relative;
    transition: 0.2s;
}
section {
    width: 100wv;
    height: auto;
    transition: 0.5s;
}
h2{
    font-family: Geometria-ExtraLight;
    font-size: 80px;
    margin: 10px auto;
    padding: 0;
    color: grey;
    border-bottom: red 3px solid;
}
h3{
    font-family: Geometria-ExtraLight;
    font-size: 50px;
    margin: 10px auto;
    padding: 0;
    color: grey;
    border-bottom: red 3px solid;
    display: inline;
}
.top-text{
    font-family: Geometria;
    font-size: 50px;
    margin: 10px auto;
    padding: 0;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
#nav>ul>li>a:hover{
    color: red;
    transition: 0.2s;
    text-decoration: none;
}
a:active{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
section.header{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
}
section.why-we{
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #EBEEF0;
    box-shadow: 0px 4px 4px rgba(88, 89, 91, 0.5);
}
.why-we-content{
    display: flex;
    justify-content: center;
}
.why-we-content>div{
    width: 20%;
    height: auto;
    text-align: left;
    margin: 40px;
}
.why-we-content>div>img{
    border-style: none;
    float: left;
    margin-left: -70px;
}
.why-we-content>div>p{
    font-size: 20px;
    font-family: Geometria-Medium;
}
.materials-palitra{
    height: auto;
    padding: 30px 100px;
    background-image: url(../img/palitra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.materials-palitra>span{
    display: inline;
}
.top-text{
    display: block!important;
}
.midle {
    font-size: 80px;
    color: red;
    font-family: Geometria;
}
.midle-number{
    font-size: 200px;
    color: red;
    font-family: Geometria;
}
.our-mebel-content, .our-mebel{
    padding: 0 50px;
}
.our-works{
    display: grid;
    text-align: center;
    max-width: 1190px;
    margin: 20px auto;
}
.our-works-foto{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
.our-works-foto>li{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: gray;
}
.header, section.nav {
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
}
.header>.contacts>span{
    display: block;
}
.header>.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Geometria;
    font-size: 20xp;
    padding: 10px 0;
}
.logo-img{
    height: 100px;
    width: auto;
}
.nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px auto;
}
.nav>ul>li{
    margin: 5px 0px;
    font-family: Geometria;
    font-size: 20px;
    cursor: pointer;
}
.nav>ul>li:hover{
    color: red;
    text-decoration: underline;
}
.nav>ul>li>img{
    width: 10px;
    height: auto;
    margin: 0px 20px;
}
#slider{
    background-image: url("../img/slider.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    padding: 50px;
}
.slider-text{
    width: 30%;
    margin-left: 150px;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding:30px;
    font-family: Geometria-ExtraLight;
    font-size: 50px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
}
.slider .button-slider{
    background-color: red;
    color: white;
    margin: 20px auto;
    text-align: center;
    font-family: Geometria;
    font-size: 24px;
    line-height: 50px;
    width: 63%;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
}
.slider .button-slider:hover{
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
    background-color: white;
    color: red;
}
.our-mebel-name{
    margin: 0 auto;
    display: grid;
    text-align: center;
}
.our-mebel-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1300px;
    margin: 20px auto;
}
.our-mebel-content>li{
    width: 250px;
    margin: 20px;
    padding: 20px;
    display: grid;
    box-shadow: 5px 14px 28px rgba(0,0,0,0.25), 0 -1px 10px rgba(0,0,0,0.22);;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    cursor: pointer;
}
.our-mebel-content>li:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.our-mebel-content>li>img{
    width: 100%;
    height: auto;
}
.our-mebel-content>li>span{
    display: block;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 26px;
    width: 100%;
    padding: 0px;
}
.our-works-button{
    width: 360px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ED1C24;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    display: none;
}
.our-works-button>span{
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ED1C24;
    line-height: 60px;
}
.our-works-button:hover{
    background-color: red;
    color: white;
}
.our-works-button:hover span{
    background-color: red;
    color: white;
}
.how-to-get{
    background-image: url("../img/how-to-get.jpg");
    height: 700px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: block;
 }
.how-to-get>div{
    position: absolute;
    height: 250px;
    bottom: 0;
    background: rgba(237, 28, 36, 0.6);
    width: 100%;
}
.how-to-get-article{
    font-size: 50px;
    font-family: Geometria;
    text-transform: uppercase;
    width: 80%;
    margin: 30px auto 0 auto;
    display: block;
}
.how-to-get>div>div{
    width: 80%;
    margin: 30px auto 0 auto;
}
.footer{
    height: 50px;
    background-color: #EBEEF0;
    color: red;
    text-align: center;
}
.footer>span{
    line-height: 50px;
    font-size: 24px;
    font-family: Geometria;
}
.zakaz-phone{
    text-align: center;
    padding: 20px;
}
.zakaz-phone>form>input{
    display: block;
    width: 720px;
    height: 70px;
    margin: 10px auto;
    border-style: none;
    border: 2px solid gray;
}
.zakaz-phone>form>textarea{
    display: block;
    width: 716px;
    height: 70px;
    margin: 10px auto;
    border-style: none;
    border: 2px solid gray;
}
.zakaz-phone>form>span{
    font-family: Geometria-ExtraLight;
    font-size: 50px;
    margin: 20px auto;
    padding: 0;
    color: grey;
    border-bottom: red 3px solid;
    display: inline-block;
}.zakaz-phone>form>input{
    font-family: Geometria;
    font-weight: 200;
    font-size: 50px;
    line-height: normal;

 }
 .zakaz-phone-button{
    width: 360px!important;
    height: 60px!important;
    background: #ED1C24;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    line-height: 60px;
    color: white;
    font-size: 24px!important;
    cursor: pointer;
    transition: 0.5s;
 }
.zakaz-phone-button:hover{
    background-color: white;
    color: red;
    transition: 0.5s;
}
div.forma-top{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
div.forma-top>form{
    position: relative;
}
div.forma-top>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 75%;
    max-height: 600px;
    margin: 5% auto 0 auto;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.25), 0 -1px 10px rgba(0,0,0,0.22);
    border: 20px solid lightgrey;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}
div.forma-top>form>span{
    font-family: Geometria;
    font-weight: 200;
    font-size: 30px;
    margin: 20px auto 10px auto;
    color: red;
}
div.forma-top>form>input{
    display: block;
    width: 90%;
    height: 60px;
    margin: 10px auto;
    border: 2px solid gray;
    font-size: 40px;
}
div.forma-top>form>textarea{
    width: calc(90% - 4px);
    height: 70px;
    margin: 10px auto;
    border: 2px solid gray;
    font-size: 20px;
}
.forma-top-cencel{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -34px;
    right: -35px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.25), 0 -1px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.2s;
}
.forma-top-cencel:hover{
    background-color: gray;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}